{:deps {org.clojure/clojure              {:mvn/version "1.10.1"}
        quil/quil                        {:mvn/version "3.1.0"}
        lambdaisland/jbox2d-library      {:mvn/version "2.3.1.750"}
        org.apache.commons/commons-math3 {:mvn/version "3.2"}
        }}
